DirectoryIndex index.php
RewriteEngine on 
RewriteBase /trafficontrol
RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|css|downloads|assets|cometchat|jquery|js|robots\.txt|favicon\.ico)
#RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]
